@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif, Linearicons-Free;
  background-color: #f8f8f8;
}

.logincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  width: 100%;
  height: 120vh;
  /* margin-top: 60px; */
  /* height: 100vh; */
  background: linear-gradient(rgba(212, 63, 141, 1), rgba(2, 80, 197, 1));
}
.logintitle {
  font-family: Raleway-Black;
  font-size: 31px;
  font-weight: bolder;
  padding-top: 30px;
  color: #333333;
  line-height: 4.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;

  display: block;
}

.loginform {
  width: 500px;
  /* height: 100vh; */
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.input-box {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;
  display: block;
  width: 60%;
  border: none;
  margin-left: 47px;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}
.form-control i {
  position: relative;
  top: -40px;
  left: 419px;
  font-size: 19px;
  color: #999999;
}
i.fa.fa-lock,
i.fa.fa-envelope {
  position: relative;
  top: -40px;
  left: -70px;
  font-size: 20px;
}
.message-icon {
  position: relative;
  top: -40px;
  left: 415px;
  font-size: 19px;
  color: #999999;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding-bottom: 34px;
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #140f0f;
  line-height: 2.2;
  display: block;
  position: relative;
  left: 37px;
  padding-left: 26px;
  cursor: pointer;
}
#myCheckbox {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #d33f8d;
  left: 26px;
  top: -2%;
}
label {
  font-family: Raleway-Regular;
  font-size: 20px;
  color: #999999;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.loginbutton {
  font-family: "Raleway-Bold";
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 79%;
  margin-left: 47px;
  height: 65px;
  font-weight: bold;
  border: none;

  border-radius: 3px;
  background: #d33f8d;
  cursor: pointer;
}
.focus-input {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211, 63, 141, 0.6);
}
/* font-family: 'Roboto', sans-serif; */

.text-center {
  font-family: sans-serif;
  padding-top: 70px;
  line-height: 2.1px;
  text-align: center;
  color: #999999;
  font-size: 20px;
}

.buttons {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 46px;
  width: 77%;
}
.loginbutton:hover {
  background-color: #140f0f;
  color: #fff;
}

.btn-face,
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-top: 10px;
  text-decoration: none;
  color: #0056b3;
  padding-left: 10px;
  padding: 4px 1px;
}

.btn-google:hover {
  color: #e90080;
  border-color: #e90080;
}
.btn-face:hover {
  border-color: #e90080;
  color: #e90080;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}
.textl {
  font-family: sans-serif;
  padding-top: 100px;
  margin-bottom: 80px;
  line-height: 2.1px;
  text-align: center;
  color: #999999;
  font-size: 20px;
}

span.txt1 a {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}
a.txt1.bo1.hov1 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}

.form-control:hover .focus-input100 {
  width: 100%;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error i {
  color: #e74c3c;
}

.form-control.success i {
  color: #2ecc71;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control small {
  position: absolute;
  top: 5px;
  left: 200px;
  color: #ca584b;
  visibility: hidden;
  transition: visibility 0.5s;
}

.form-control:hover:not(.success) small {
  visibility: visible;
}
small.error-message {
  position: relative;
  top: -45px;
  left: 278px;
  width: 50px;
  border: 1px solid rgb(220, 50, 149);
  border-radius: 5px;
  background-color: #fff;
}
